@import 'variables';
@import 'fonts';

@import "~react-responsive-carousel/lib/styles/carousel.min.css";


html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: transparent;
}

a, u{
  text-decoration: none !important ; 
}

h1, h2, h3, h4{
  color: $orange;
  font-weight: 700;
}

p{
  color: white;
  margin-top: 20px;
}

.orange{
  color: $orange;
  font-size: 22px;
}

.link{
  color: $orange;
}
.subHeading{
  font-weight: 400;
}

.number{
  display: block;
  font-size: 20px;
}

.topContact{
  font-size: 20px;
}

h3{
  color: $orange;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

.icons{
  margin-left: -35px;
}

.divider{
  display: block;
  position:relate;
  background: white;
  height: 5px;
  width: 100%;
  margin-bottom: 25px;
}

h4.subHeading{
  color: $white;
}

h4.subHeadingOrange{
  color: $orange;
}

.bgContainer{
  background-color: $bgblack;
}

.rowPadding{
  padding: 0 0 40px 0;
}

/* navbar overrides */
.navbar {
  margin-bottom: 0;
  background-color: $nav-grey;
  padding: 15px 0;
  border: none;
  border-radius: 0px;
}


.navbar-nav {
  width: 100%;
  text-align: center;
}



.navbar-default .navbar-toggle {
  border: none;

  &:hover, &:focus {
    background-color: transparent;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-default .navbar-brand {
  font-size: 22px;

  @media #{$xs} {
    font-size: 18px;
  }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 20px;
  
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $orange;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $orange;
  background-color: $nav-grey;
}

.carousel .control-dots .dot{
  width:  15px;
  height:15px;
}

.control-dots .dot.selected{
    background: $orange;
    opacity: 1;
}

.slick-dots li button:before{
  font-size: 15px;
}

.slick-dots li.slick-active button:before{
  color: $orange;
  opacity: 1;
}

@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 30px;
  }
 
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    h3{
      font-size: 24px;
    }
    p{
      font-size: 20px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }