@import '../../styles/variables';

.footer{
    background-color: $bgblack;
    height: 45px;
}

.copyright{
    font-size: 15px;
    color: white;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  
}

.container{
    height:100%;
}